{% extends 'seances/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
<h3 class="text-center color-grey">
    COLLÈGE NIVEAU 4e-3e
</h3>
<p>
    <span class="bolder-span bigger-text">TRIMESTRE 1</span>
</p>

    <div class="row seance-listing">
        <div class="card col-12 col-md-8 bg-transparent card-listing-page">
            <div class="card-body">
                <h3 class="card-title">
                    VANDAL
                </h3>
                <p class="card-text">
                    <span class="bold-card-presentation">
                        De Hélier Cisterne <br>
                        Avec Zinedine Benchenine, Chloé Lecerf, Emile Berling <br>
                        Drame, France, 2013, 1h24 <br>
                        À partir de 12 ans <br>
                    </span>
                    <br>
                        Chérif, 15 ans, est un adolescent rebelle et solitaire. Dépassée, sa mère décide de le placer chez son oncle et sa tante à Strasbourg, où il doit reprendre son CAP maçonnerie. C’est sa dernière chance. Très vite, dans cette nouvelle vie, Chérif étouffe.
                    <br>
                </p>
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of row -->

<p>
    <span class="bolder-span bigger-text">TRIMESTRE 2</span>
</p>

    <div class="row seance-listing">
        <div class="col-12 col-md-4">
            <img class="img-listing" src="{% static 'img/woman_at_war.jpg' %}" alt="Woman at war">
        </div>
        <div class="card col-12 col-md-8 bg-transparent card-listing-page">
            <div class="card-body">
                <h3 class="card-title">
                    WOMAN AT WAR
                </h3>
                <p class="card-text">
                    <span class="bold-card-presentation">
                        De Benedikt Erlingsson <br>
                        Avec Halldora Geirhardsdottir, Davíd Thór Jónsson… <br>
                        Comédie dramatique, Islande, 2018, 1h41 <br>
                        À partir de 12 ans <br>
                    </span>
                    <br>
                        Halla, la cinquantaine, déclare la guerre à l’industrie locale de l’aluminium qui défigure son pays. Elle prend tous les risques pour protéger les Hautes Terres d’Islande…
                    <br>
                </p>
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of row -->


<p>
    <span class="bolder-span bigger-text">TRIMESTRE 3</span>
</p>

    <div class="row seance-listing">
        <div class="col-12 col-md-4">
            <img class="img-listing" src="{% static 'img/fenetre_sur_cour.jpg' %}" alt="Fenêtre sur cour">
        </div>
        <div class="card col-12 col-md-8 bg-transparent card-listing-page">
            <div class="card-body">
                <h3 class="card-title">
                    FENÊTRE SUR COUR - EN VOSTFR
                </h3>
                <p class="card-text">
                    <span class="bold-card-presentation">
                        De Alfred Hitchcock <br>
                        Avec James Stewart, Grace Kelly, Wendell Corey <br>
                        Thriller, policier, Etats-Unis, 1955, 1h50 <br>
                        À partir de 12 ans <br>
                    </span>
                    <br>
                        A cause d'une jambe cassée, L. B. Jeffries est contraint de rester chez lui dans un fauteuil roulant. Homme d'action et amateur d'aventure, il tire parti de son immobilité forcée en étudiant le comportement de ses voisins…
                    <br>
                </p>
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of row -->

</div> <!-- end of container of the page -->
{% endblock %}