{% extends 'seances/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
<h3 class="text-center color-grey">
    COLLÈGE NIVEAU 6e-5e
</h3>
<p>
    <span class="bolder-span bigger-text">TRIMESTRE 1</span>
</p>

    <div class="row seance-listing">
        <div class="col-12 col-md-4">
            <img class="img-listing" src="{% static 'img/black_mor.jpg' %}" alt="black mor">
        </div>
        <div class="card col-12 col-md-8 bg-transparent card-listing-page">
            <div class="card-body">
                <h3 class="card-title">
                    L'ÎLE DE BLACK MOR
                </h3>
                <p class="card-text">
                    <span class="bold-card-presentation">
                        De Jean-François Laguionie <br>
                        Animation, France, 2004, 1h25 <br>
                        À partir de 5 ans <br>
                    </span>
                    <br>
                        En 1803, dans la sombre Cornouaille, Kid, un gamin de quinze ans s’échappe de la corderie où il vit comme un bagnard. Il ne sait pas son nom, mais il a en main la carte d’une île qui provient du livre de Black Mor, le fameux pirate ! Lui aussi, il aura son bateau et son équipage, et il trouvera le repaire du pirate, à l’autre bout de l’Océan Atlantique !
                    <br>
                </p>
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of row -->

<p>
    <span class="bolder-span bigger-text">TRIMESTRE 2</span>
</p>

    <div class="row seance-listing">
        <div class="col-12 col-md-4">
            <img class="img-listing" src="{% static 'img/couleur_miel.jpg' %}" alt="Couleur de Peau : Miel">
        </div>
        <div class="card col-12 col-md-8 bg-transparent card-listing-page">
            <div class="card-body">
                <h3 class="card-title">
                    COULEUR DE PEAU : MIEL
                </h3>
                <p class="card-text">
                    <span class="bold-card-presentation">
                        De Laurent Boileau et Jung <br>
                        Animation, France, 2012, 1h15 <br>
                        À partir de 10 ans <br>
                    </span>
                    <br>
                        Ils sont 200 000 enfants coréens disséminés à travers le monde depuis la fin de la guerre de Corée. Né en 1965 à Séoul et adopté en 1971 par une famille belge, Jung est l’un d’entre eux. Le film revient sur son parcours : l’orphelinat, l’arrivée en Belgique, la vie de famille, l’adolescence difficile... Il nous raconte les événements qui l’ont conduit à accepter ses mixités.
                    <br>
                </p>
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of row -->


<p>
    <span class="bolder-span bigger-text">TRIMESTRE 3</span>
</p>

    <div class="row seance-listing">
        <div class="col-12 col-md-4">
            <img class="img-listing" src="{% static 'img/billy.jpg' %}" alt="Billy Elliot">
        </div>
        <div class="card col-12 col-md-8 bg-transparent card-listing-page">
            <div class="card-body">
                <h3 class="card-title">
                    BILLY ELLIOT - en VOSTFR
                </h3>
                <p class="card-text">
                    <span class="bold-card-presentation">
                        De Stephen Daldry <br>
                        Avec Jamie Bell, Gary Lewis, Jamie Draven, Julie Walters <br>
                        Comédie dramatique, Angleterre, 2000, 1h50 <br>
                        À partir de 8 ans <br>
                    </span>
                    <br>
                        Billy, onze ans, découvre avec surprise qu’un cours de danse partage les mêmes locaux que son club de boxe. D’abord intrigué puis fasciné par la gestuelle, Billy abandonne ses gants pour assister aux leçons de danse…
                    <br>
                </p>
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of row -->

</div> <!-- end of container of the page -->
{% endblock %}