{% extends 'seances/base.html' %}
{% block content %}
<h2 class="intro-text text-center">
    LE CONSEIL D'ADMINISTRATION
</h2>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title center-card">Nathalie Oizel</h5>
      <p class="card-text center-card">Présidente</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title center-card">Prunelle Hervé</h5>
      <p class="card-text center-card">Secrétaire</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title center-card">Isabelle Kreiss</h5>
      <p class="card-text center-card">Trésorière</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title center-card">Thierry Girault</h5>
      <p class="card-text center-card">Membre du CA</p>
    </div>
  </div>
</div>
{% endblock %}