{% extends 'seances/base.html' %}
{% block content %}
<p>
    <span class="bolder-span">Association Mondes et Multitudes</span> <br>
7 Route du Moulin, Saint-Cyprien-sur-Dourdou <br>
12320 – Conques en Rouergue <br>
<br>
Du Lundi au Vendredi : 9h-13h/14h-17 <br>
Mail : mondesetmultitudes@gmail.com <br>
Tél. : 09 53 79 93 01 <br>
<br>
    <span class="bolder-span">Mentions légales :</span> <br>
<br>
Présidente de l'association, responsable du contenu éditorial de ce site web : Martine Lebret <br>
<br>
Ce site web a été développé par Loïc Le Gros, la Version 1.0 a été achevée en avril 2021. <br>
Loïc Le Gros est propriétaire des droits d'auteurs sur le code. <br>
La responsabilité du contenu éditorial du site web revient à l'association Mondes et Multitudes, et
en aucun cas au développeur. <br>
<br>
    <span class="bolder-span">Hébergeur :</span> <br>
PythonAnywhere LLP<br>
17a Clerkenwell Road<br>
London EC1M 5RD<br>
United Kingdom<br>
<br>
</p>
<p class="justified-p">
    <span class="bolder-span">Informations personnelles et vie privée :</span> <br>

Les seules informations personnelles recueillies par ce site internet est l'adresse email de l'utilisateur.rice
qui formule explicitement la demande d'être abonné.e à la newsletter, via le formulaire dédié. Ces informations
sont conservées pour une durée indéterminée.<br>
L'utilisateur.rice n'est en aucun cas obligé.e de fournir cette information. <br>
Les informations récoltées ne sont en aucun cas divulguées à un tiers, et sont seulement accessibles à l'association
Mondes et Multitudes. <br>
La newsletter a pour unique but d'informer les abonné.es des actualités de l'association Mondes et Multitudes.
L'utilisateur.rice peut demander à être désinscrit de cette newsletter, en envoyant un mail spécifiant cette
demande à mondesetmultitudes@gmail.com.
</p>
{% endblock %}