{% extends 'seances/base.html' %}
{% block content %}
<p>
Association Mondes et Multitudes <br>
8 Route du Moulin, Saint-Cyprien-sur-Dourdou <br>
12320 – Conques en Rouergue <br>
<br>
Du Lundi au Vendredi : 9h-13h/14h-17h (fermé le mercredi) <br>
Mail : mondesetmultitudes@gmail.com <br>
Tél. : 09 53 79 93 01 <br>
<br>
Mentions légales : <br>
<br>
Présidente de l'association, responsable du contenu éditorial de ce site web : Martine Lebret <br>
<br>
Ce site web a été développé par Loïc Le Gros, la Version 1.0 a été achevée en avril 2021. <br>
Loïc Le Gros est propriétaire des droits d'auteurs sur le code. <br>
La responsabilité du contenu éditorial du site web revient à l'association Mondes et Multitudes, et
en aucun cas au développeur. <br>
<br>
Hébergeur : <br>
PythonAnywhere LLP<br>
17a Clerkenwell Road<br>
London EC1M 5RD<br>
United Kingdom<br>

</p>
{% endblock %}