{% extends 'seances/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
<h3 class="text-center color-grey">
    ECOLE ET CINEMA
</h3>
<p>
    <span class="bolder-span bigger-text">TRIMESTRE 1</span>
</p>

    <div class="row seance-listing">
        <div class="col-12 col-md-4">
            <img class="img-listing" src="{% static 'img/en_sortant_ecole.jpg' %}" alt="en sortant de l'école">
        </div>
        <div class="card col-12 col-md-8 bg-transparent card-listing-page">
            <div class="card-body">
                <h3 class="card-title">
                    EN SORTANT DE L'ÉCOLE
                </h3>
                <p class="card-text">
                    <span class="bold-card-presentation">
                        De Marie Larrivé, Camille Authouart, Lila Peuscet… <br>
                        Programme de courts-métrages, animation, France, 2014, 39 min. <br>
                        À partir de 4 ans <br>
                    </span>
                    <br>
                    Une collection de 13 courts métrages d’animation de 3 minutes, qui se propose d’associer poétiquement, dans la liberté artistique la plus exigeante, 13 poèmes de Prévert à l’univers graphique de jeunes réalisateurs tout juste sortis des écoles d'animation françaises. <br>
                    <br>
                </p>
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of row -->

<p>
    <span class="bolder-span bigger-text">TRIMESTRE 2</span>
</p>

    <div class="row seance-listing">
        <div class="col-12 col-md-4">
            <img class="img-listing" src="{% static 'img/kerity.jpg' %}" alt="Kerity">
        </div>
        <div class="card col-12 col-md-8 bg-transparent card-listing-page">
            <div class="card-body">
                <h3 class="card-title">
                    KERITY, LA MAISON DES CONTES
                </h3>
                <p class="card-text">
                    <span class="bold-card-presentation">
                        De Dominique Monféry <br>
                        Animation, France, 2009, 1h20 <br>
                        À partir de 4 ans <br>
                    </span>
                    <br>
                        Natanaël a bientôt 6 ans mais il ne sait toujours pas lire… Lorsque sa tante Eléonore lui lègue sa bibliothèque contenant des centaines de livres, Natanaël est très déçu ! Pourtant chacun de ces contes va livrer un merveilleux secret : à la nuit tombée les petits héros de ces histoires sortent des livres…
                    <br>
                </p>
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of row -->


<p>
    <span class="bolder-span bigger-text">TRIMESTRE 3</span>
</p>

    <div class="row seance-listing">

        <div class="card col-12 col-md-8 bg-transparent card-listing-page">
            <div class="card-body">
                <h3 class="card-title">
                    PEAU D'ÂNE
                </h3>
                <p class="card-text">
                    <span class="bold-card-presentation">
                        De Jacques Demy <br>
                        Comédie musicale, romance, France, 1970, 1h25 <br>
                        À partir de 6 ans <br>
                    </span>
                    <br>
                        Le roi bleu promet à sa reine mourante de ne se remarier qu’avec une femme plus belle qu’elle. Des années plus tard, il décide d’épouser sa fille car elle seule est capable de rivaliser en beauté avec son épouse adorée.
                    <br>
                </p>
            </div> <!-- end of card-body -->
        </div> <!-- end of card -->
    </div> <!-- end of row -->

</div> <!-- end of container of the page -->
{% endblock %}