{% extends 'seances/base.html' %}
{% block content %}
<h2 class="intro-text text-center">
    L'ÉQUIPE
</h2>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title center-card">Carina Hama</h5>
      <p class="card-text center-card">Responsable</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title center-card">Sylvain Besset</h5>
      <p class="card-text center-card">Assistant de direction, chargé de communication</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title center-card">Clémentine Apuzzo</h5>
      <p class="card-text center-card">Animatrice culturelle, coordinatrice du pôle d’éducation aux images</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title center-card">Cerise Girault</h5>
      <p class="card-text center-card">Animatrice culturelle,<br> chargée de programmation</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title center-card">Martine Lebret</h5>
      <p class="card-text center-card">Animatrice photo</p>
    </div>
  </div>
</div>
{% endblock %}