{% extends 'seances/base.html' %}
{% block content %}
{% load static %}

    <h2 class="intro-text text-center">
        LE FESTIVAL OUVRE L’ŒIL!
    </h2>
    <p class="color-grey justify">
        Propulsé depuis 10 ans par l’<span class="bolder-span">ACCILR</span> (Association des Cinémas et Circuits Itinérants du Languedoc-Roussillon), le Festival de cinéma Jeune Public organisé par Mondes et Multitudes existe depuis <span class="bolder-span">5 ans en Aveyron</span>.
    </p>
    <p class="color-grey justify">
        <span class="bolder-span">Ouvre l’œil!</span> a pour but de rassembler les enfants, les ados et les familles grâce à des propositions <span class="bolder-span">culturelles singulières mêlant le cinéma à d’autres arts</span>.
    </p>
    <p class="color-grey justify">
        Il se déroule sur trois jours, le premier week-end des vacances d’avril, durant lesquels <span class="bolder-span">une dizaine de projections de films Art et Essai</span> sont proposées pour un public de <span class="bolder-span">3 à 103 ans!</span> Ciné-concert, théâtre, lecture de contes, sculpture ou peinture, sont autant d’activités conviviales que vous pourrez partager lors du festival.
    </p>
    <h3 class="text-center color-grey">
        Comment nous soutenir ?
    </h3>
    <p class="color-grey justify">
        Nous souhaitons vous proposer de participer au bon déroulement de ce festival par le biais du mécénat. Vous pouvez effectuer une aide <span class="bolder-span">en nature</span> (dons de produits, mise à disposition de biens) ou <span class="bolder-span">en numéraire</span> (soutien financier).
    </p>
    <p class="color-grey justify">
        <span class="bolder-span">Les avantages sont nombreux : une réduction de votre impôt</span> sur les sociétés de 60% du montant de votre don et <span class="bolder-span">une visibilité</span> sur le territoire grâce à des contreparties en communication et relations publiques. <br>
        Il s’agit de donner de la <span class="bolder-span">visibilité à votre entreprise ou association</span> grâce la présence de votre logo sur <span class="bolder-span">3000 programmes, flyers et affiches</span> diffusés au sein de la Communauté de communes de Conques-Marcillac, sur le ruthénois et le bassin de Decazeville ainsi que sur des <span class="bolder-span">affiches présentes dans les abris-bus</span> dans tout le département de l’Aveyron.
    </p>
    <p class="color-grey justify">
        Pour plus d’informations, contactez-nous au <span class="bolder-span">09 53 79 93 01</span>
        ou à <span class="bolder-span">mondesetmultitudes@gmail.com</span>
    </p>
    <h2 class="intro-text text-center">
        DÉCOUVRIR L'ÉDITION 2021
    </h2>
    <div class="center-button">
        <button type="button" class="btn btn-primary btn-lg education-button sco-button louise-button">
            <a href="" class="no-color-link">Programmation festival <br> Ouvre l'œil 2021</a>
        </button>
    </div>
{% endblock %}