{% extends 'seances/base.html' %}
{% block content %}

<h1>
Vous souhaitez organiser une ou des séances de cinéma ?
</h1>
<p>
Renseignez-vous sur les modalités du circuit itinérant ? Consultez le mode d’emploi!

Si vous avez déjà un projet et que vous avez besoin d’un-e technicien-ne projectionniste pour vous assurer une projection de qualité cinéma, renseignez-vous sur nos prestations techniques

L’association propose, dans la mesure de ses disponibilités techniques et humaines des projections militantes.
</p>

{% endblock %}
