{% extends 'seances/base.html' %}
{% block content %}
<h2 class="intro-text text-center color-grey">REJOINDRE LE CIRCUIT</h2>
<p class="color-grey justify">
    Une séance de cinéma au sein de votre village, ça vous dit ? <br>
    Notre association sillonne les routes de l’Aveyron toute l’année et par tous les temps pour vous proposer des projections de films inédits à cinq minutes de chez vous !
    Nous nous déplaçons déjà sur 53 communes de tout le département et des départements voisins chaque année. Pourquoi pas la vôtre ?
</p>
<p class="color-grey justify">
    <span class="bolder-span color-grey">Ce que l’on propose, en bref :</span>
    <ul class="bigger-ul justify">
        <li>
            <span class="bolder-span">Des projections intérieures ou en plein air,</span> adaptées à chaque lieu (salle des fêtes, café, place de village, etc.), avec du matériel de projection professionnel (écrans, sonorisation, projecteur cinéma)
        </li>
        <li>
            <span class="bolder-span">Un large choix de films :</span> courts ou longs métrages, fictions, documentaires, films de patrimoine ou sorties nationales, il y en a pour tous les goûts et tous les publics !
        </li>
        <li>
            <span class="bolder-span">La conception des outils de communication</span> autour des séances
        </li>
        <li>
            Pour <span class="bolder-span">les scolaires</span>, en lien avec l’inspection académique, des séances Maternelle, Ecole et Collège au cinéma
        </li>
</ul>
</p>
    <h3 class="text-center color-grey">Organiser une séance, comment ça marche ?</h3>
<p class="color-grey">
    Deux types de séances s’offrent à vous :<br>
    <ul class="bigger-ul justify">
        <li>
            <span class="bolder-span">Une projection CNC, ou commerciale,</span> vous donne accès aux sorties nationales et aux films récents de moins d’un an. Une billetterie CNC de 5€ par personne, nécessaire pour rémunérer les ayants-droits et les auteurs, est alors mise en place par l’association. <br>
            <span class="bolder-span">La séance vous sera facturée 350€*.</span>
        </li>
        <li>
            <span class="bolder-span">Une projection « non-CNC », ou non commerciale,</span> gratuite ou payante, ne peut être prise en compte par une billetterie CNC. Conformément à la législation en vigueur, il est interdit d’y diffuser un film récent de moins d’un an. L’organisateur a la possibilité de mettre en place une billetterie sur cet évènement, et en conserve alors les recettes. <br>
            <span class="bolder-span">La séance vous sera facturée 500€*</span>, somme à laquelle s’ajoute le montant des droits de diffusion du film choisi, qui s’élèvent à <span class="bolder-span">350€ en moyenne.</span>
        </li>
    </ul>
<p class="smaller-p color-grey justify">
* Mondes et Multitudes est une association Loi 1901 à but non lucratif : ses choix tarifaires permettent la bonne gestion de la structure, un résultat d’exercice à l’équilibre et par conséquent la pérennité du circuit itinérant.
</p>
<p class="color-grey justify">
    Pour accueillir une séance, qu’elle soit commerciale ou non, en plein air comme en intérieur, <span class="bolder-span">vous aurez besoin d’un agrément délivré par le CNC.</span> Si vous souhaitez faire agréer votre commune, il suffit de nous fournir les documents suivants :
    <ul class="bigger-ul justify">
        <li>
            <span class="bolder-span">un arrêté municipal</span> de mise à disposition de la salle communale (salle des fêtes, polyvalente ou culturelle)
        </li>
        <li>
            <span class="bolder-span">le procès-verbal</span> de commission de sécurité de la salle, à récupérer auprès des pompiers.
            Faire agréer sa commune n’engage aucunement à organiser des séances mais permet d’en mettre facilement en place.<br>
            La validation de l’agrément par le CNC peut prendre <span class="bolder-span">deux mois.</span>
        </li>
    </ul>
</p>
<p class="color-grey justify">
    Une fois que vous êtes partenaire, l’association met à votre disposition chaque mois un nouveau catalogue de films fraichement sortis en salle. Nous pouvons ensuite élaborer la programmation de votre commune ensemble, afin de répondre le plus justement possible aux attentes du public.<br>
    Si vous souhaitez que la projection s’inscrive dans une thématique précise (monde paysan, écologie, jeune public, etc.), <span class="bolder-span">nous pouvons créer pour vous un catalogue spécifique.</span><br>
    <span class="bolder-span">N’hésitez pas à en faire la demande.</span>
</p>

<h3 class="text-center color-grey">LA FORMULE CINE-PATRIMOINE</h3>
<p class="color-grey justify">
    <span class="bolder-span">A sites exceptionnels, séances exceptionnelles !</span><br>
    L’Aveyron regorge de sites patrimoniaux tous plus remarquables les uns que les autres. Afin de <span class="bolder-span">valoriser et animer</span> ces cadres atypiques, nous vous proposons d’y organiser des séances de cinéma à caractère unique : ciné-concerts, soirées historiques, programmes de courts-métrages ou projection de films de région pourraient être organisés et accompagnés de repas, marchés de pays, visites guidées des sites, promenades aux flambeaux, concerts, bals traditionnels, grands jeux de piste, lecture de contes, et beaucoup d’autres animations, pourvu que vous en ayez <span class="bolder-span">l’idée,</span> et <span class="bolder-span">l’envie !</span>
</p>
{% endblock %}