<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit=no">

    <title>Mondes et Multitudes - Cinéma itinérant et ateliers d'éducation aux images en Aveyron</title>

    {% load static %}

    <!-- Bootstrap Core CSS added directly from their site on the 19/04/2021, page : https://getbootstrap.com/docs/4.1/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- developer's own modifications -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/developers.css' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">


</head>

<body>

<div class="brand-and-adress-bar">
    <div class="brand"><a href="{% url 'home' %}">Mondes et Multitudes</a></div>
    <div class="address-bar">Cinéma itinérant et ateliers d'éducation aux images en Aveyron</div>
</div>

<!-- copied from OCR beginning -->

<nav class="navbar navbar-expand-lg navbar-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
    <div id="navbarNavDropdown" class="collapse navbar-collapse">
        <ul class="navbar-nav container-fluid justify-content-around align-items-center">
            <li class="nav-item">
                <a href="{% url 'home' %}">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'seances:listing' %}">Séances</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'seances:content' value=6 %}">Organiser une séance</a>
            </li>
            <li class="nav-item dropdown size-limit-1">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Éducation aux images
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'seances:content' value=7 %}">Présentation générale</a><br>
                    <a class="dropdown-item" href="{% url 'seances:content' value=8 %}">Les ateliers de Louise</a><br>
                    <a class="dropdown-item" href="{% url 'seances:content' value=9 %}">Les dispositifs scolaires</a>
                </div>
            </li>
            <li class="nav-item size-limit-2">
                <a href="{% url 'seances:content' value=17 %}">Festival Ouvre l'Oeil</a>
            </li>
            <li class="nav-item dropdown size-limit-3">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Qui sommes-nous ?
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                  <a class="dropdown-item" href="{% url 'seances:content' value=0 %}">L'association</a><br>
                  <a class="dropdown-item" href="{% url 'seances:content' value=1 %}">L'équipe</a><br>
                  <a class="dropdown-item" href="{% url 'seances:content' value=2 %}">Le conseil d'administration</a><br>
                  <a class="dropdown-item" href="{% url 'seances:content' value=3 %}">Nos partenaires</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Contact
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
                  <a class="dropdown-item" href="{% url 'seances:content' value=4 %}">Nous contacter</a>
                  <!-- this link is deactivated until they give me some content
                  <br>
                  <a class="dropdown-item" href="">Offres d'emploi</a>
                  -->
                </div>
            </li>
        </ul> <!-- navbar unordered list container -->
    </div>
</nav>
<!-- copied from OCR end -->

<!-- a container to place social media buttons above the carousel -->
<div class="socialmedia-and-carousel-container">
    <div class="socialmedia-block-container">
        <div class="socialmedia-icon-container">
            <a href="https://www.facebook.com/mondesetmultitudes" title="Rejoignez-nous sur Facebook !">
                <img class="socialmedia-icon" src="{% static 'img/pepouze.png' %}">
            </a>
        </div>
        <div class="socialmedia-icon-container newsletter">
            <a href="" data-toggle="modal" data-target="#exampleModal" title="Inscrivez-vous à notre newsletter">
                <img class="socialmedia-icon" src="{% static 'img/pepouze2.png' %}">
            </a>
        </div>
    </div>

<!-- Modal for the newsletter registration -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inscription à la newsletter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="" method="POST" id="nlform">
            {% csrf_token %}
            {{ nl_form }}
          </form>
      </div>
      <div class="modal-footer">
        <button form= "nlform" type="button" class="btn btn-secondary" data-dismiss="modal">Quitter</button>
        <button form="nlform" type="submit" class="btn btn-primary" name="query">Valider</button>
      </div>
        <p class="mentions_form">Informations personnelles et vie privée : voir les <a href="{% url 'seances:content' value=4 %}">mentions légales ici.</a></p>
    </div>
  </div>
</div>

<!-- beginning of carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
      {% for slide, bool in carousel_sliders_dict.items %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"{% if bool %} class="active"{% endif %}></li>
      {% endfor %}
  </ol>
  <div class="carousel-inner">
      {% for slide, bool in carousel_sliders_dict.items %}
    <div class="carousel-item{% if bool %} active{% endif %}">
      <img class="d-block w-100" src="{{ slide.image.url }}" alt="Slide">
    </div>
      {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- end of carousel -->

</div> <!-- the container for social media and carousel -->

<!-- beginning of the page -->
        <div class="container-fluid">
      <div class="row">
        <div class="box container-fluid">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
<!-- end of the page -->

<footer>
    <p class="mentions-legales-footer">
        Association Mondes et Multitudes <br>
        7 Route du Moulin, Saint-Cyprien-sur-Dourdou <br>
        12320 – Conques en Rouergue <br>
        Du lundi au vendredi : 9h-13h/14h-17h <br>
        09 53 79 93 01 <br>
        mondesetmultitudes@gmail.com <br>
        <a href="{% url 'seances:content' value=4 %}">Mentions légales</a>
    </p>
</footer>


<!-- Bootstrap JS added directly from their site on the 19/04/2021, page : https://getbootstrap.com/docs/4.1/getting-started/introduction/ -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
