{% extends 'seances/base.html' %}

{% block content %}
<hr>
    <h1 class="intro-text text-center">{{ film.titre }}</h1>
<hr class="detail-separator">
<div class="container-fluid">
    <div class="row seance-listing">
        <div class="col-12 col-md-4">
            <img src="{{ film.photo.url }}" alt="{{ film.titre }}" class="img-listing">
        </div>
        <div class="card col-12 col-md-8 bg-transparent">
            <div class="card-body">
                {% if film.real %} <h3 class="card-title"> De {{ film.real }}</h3> {% endif %}
                <p class="card-text">
                    {% if film.acteurs %} Avec {{ film.acteurs }} {% endif %} <br>
                    {% if film.genre %} {{ film.genre }},{% endif %}
                    {% if film.annee %} {{ film.annee }},{% endif %}
                    {% if film.pays %} {{ film.pays }},{% endif %}
                    {% if film.duree %} {{ film.duree }} minutes {% endif %} <br>
                    {% if film.age %} À partir de {{ film.age }} ans {% endif %} <br>
                </p>
                <p class="card-text">
                    {% if film.synopsis %} {{ film.synopsis }} {% endif %}
                </p>
                <p>
                    Séances de ce film :<br>
                </p>
                <ul>
                    {% for projection in projections %}
                        <li><span class="seance-bold">le {{ projection.seance.date }} à {{ projection.seance.lieu }} {{ projection.heure }}. Tarif : {% if projection.tarif %} {{ projection.tarif }} {% endif %} € {% if projection.tarif_reduit %}; Tarif réduit : {{ projection.tarif_reduit }} € {% endif %} </span><br>
                    {% if projection.seance.plein_air %}
                        !!! Séance en plein-air !!! <br>
                    {% endif %}
                    {% if projection.seance.festival %}
                        !!! Festival Ouvre l'Oeil !!! <br>
                    {% endif %}
                        {% if projection.seance.mois_du_doc %}
                    !!! Mois du doc !!! <br>
                    {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div> <!-- card-body -->
        </div> <!-- card -->
    </div> <!-- row -->
</div> <!-- container-fluid -->




{% endblock %}