<!-- page de liste de toutes les séances, passées ou à venir -->
{% extends 'seances/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titre</title>
</head>
<body>
<div class="col-lg-12">
    <hr>
    <h2 class="intro-text text-center">Les séances programmées
    </h2>
    <hr class="detail-separator">
</div>

<p>Ci-dessous vous pouvez filtrer les résultats parmis les séances programmées : </p>
<form action="{% url 'seances:listing' %}" method="get">
{{ form }}
<input type="submit" value="Valider" name="query">
</form>

{# below is the error message if the form returns no results #}
{{ message }}

{# à réactiver plus tard {% include 'seances/search_form.html' %} #}

<div class="container">
    {% for seance in seances %}
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                    <h2>le {{ seance.date }} à {{ seance.lieu }}</h2>
                    {% if seance.plein_air %}
                    <h4>!!! Séance en plein-air !!! </h4>
                    {% endif %}
                    {% if seance.festival %}
                    <h4>!!! Festival Ouvre l'Oeil !!!</h4>
                    {% endif %}
                    {% if seance.mois_du_doc %}
                    <h4>!!! Mois du doc !!!</h4>
                    {% endif %}
                    </div>
                </div>
                {% for projection in seance.projection_set.all %}
                    <div class="row">
                        <div class="col-4 imgdefilm">
                            <a href="{% url 'seances:detail' film_id=projection.film.id %}">
                                <img src="{{ projection.film.photo.url }}" alt="{{ projection.film.titre }}">
                            </a>
                        </div>
                        <div class="col-8 article_seance">
                            <h3 class="titre">{{ projection.heure }} :
                                <a href="{% url 'seances:detail' film_id=projection.film.id %}">
                                    {{ projection.film.titre }}
                                </a>
                            </h3>
                            <p>
                                {% if projection.film.real %} De {{ projection.film.real }} <br> {% endif %}
                                {% if projection.film.acteurs %} Avec {{ projection.film.acteurs }} <br> {% endif %}
                                {% if projection.film.genre %} {{ projection.film.genre }},{% endif %}
                                {% if projection.film.annee %} {{ projection.film.annee }},{% endif %}
                                {% if projection.film.pays %} {{ projection.film.pays }},{% endif %}
                                {% if projection.film.duree %} {{ projection.film.duree }} minutes <br> {% endif %}
                                {% if projection.film.age %} À partir de {{ projection.film.age }} ans <br> {% endif %}
                                {% if projection.film.synopsis %} {{ projection.film.synopsis }} <br> {% endif %}
                                {% if projection.animation %} Animation : {{ projection.animation }} <br> {% endif %}
                                {% if projection.tarif %} Tarif :  {{ projection.tarif }} € <br> {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>

{% endblock %}
